<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">

    <context-param>
        <param-name>VIEW_PREFIX</param-name>
        <param-value>/WEB-INF/pages/</param-value>
    </context-param>
    <context-param>
        <param-name>VIEW_SUFFIX</param-name>
        <param-value>.jsp</param-value>
    </context-param>

 <context-param>
        <param-name>SPRING_CONFIGURATION</param-name>
        <param-value>com.test.config.DatabaseConfig</param-value>
    </context-param>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    
     <context-param>
        <param-name>CONTROLLER_PACKAGE</param-name>
        <param-value>com.test.controller</param-value>
    </context-param>


    <servlet>
    <servlet-name>FrontServletController</servlet-name>
    <servlet-class>com.dirkfw.servlet.FrontServletController</servlet-class>
</servlet>
    
    <servlet-mapping>
        <servlet-name>FrontServletController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

   

</web-app>